$PageOneSmall: 500px;
$PageOneRegular: 800px;
$PageOneLarge: 1200px;

.PageOne {
  color: black;

  // tiny
  @media screen and (max-width: $PageOneSmall) {
    color: green;
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneRegular - 1px)) {
    color: orange;
  }

  // regular
  @media screen and (min-width: $PageOneRegular) and(max-width: ($PageOneLarge - 1px)) {
    color: orange;
  }

  // biggest
  @media screen and (min-width: $PageOneLarge) {
    color: red;
  }
}

.PageOne-head {
  font-weight: bold;
  color: black;
  font-size: 3rem;
  // tiny
  @media screen and (max-width: $PageOneSmall) {
    font-size: 2.5rem;
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneRegular - 1px)) {
    font-size: 2.25rem
  }

  // regular
  @media screen and (min-width: $PageOneRegular) and(max-width: ($PageOneLarge - 1px)) {
    font-size: 3rem;
  }

  // biggest
  @media screen and (min-width: $PageOneLarge) {
    font-size: 4rem;
  }
}


.PageOne-body {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  // tiny
  @media screen and (max-width: $PageOneSmall) {
    font-size: 0.8rem;
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneRegular - 1px)) {
    font-size: 0.9rem
  }

  // regular
  @media screen and (min-width: $PageOneRegular) and(max-width: ($PageOneLarge - 1px)) {
    font-size: 1rem;
  }

  // biggest
  @media screen and (min-width: $PageOneLarge) {
    font-size: 1.5rem;
  }
}

.PageOne-button {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 0.25rem;
  // tiny
  @media screen and (max-width: $PageOneSmall) {
    font-size: 0.8rem;
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneRegular - 1px)) {
    font-size: 0.9rem
  }

  // regular
  @media screen and (min-width: $PageOneRegular) and(max-width: ($PageOneLarge - 1px)) {
    font-size: 1rem;
  }

  // biggest
  @media screen and (min-width: $PageOneLarge) {
    font-size: 1.5rem;
  }
}

