@import '../css/shared';

$PageOneSmall: $ResponsiveSizeSmall;
$PageOneMedium: $ResponsiveSizeMedium;
$PageOneBig: $ResponsiveSizeBig;

.PageOne {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $PageOneSmall) {
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageOneMedium) and(max-width: ($PageOneBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageOneBig) {
  }
}

.PageOne-head {
  // tiny
  @media screen and (max-width: $PageOneSmall) {
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageOneMedium) and(max-width: ($PageOneBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageOneBig) {
  }
}

.PageOne-body {
  // tiny
  @media screen and (max-width: $PageOneSmall) {
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageOneMedium) and(max-width: ($PageOneBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageOneBig) {
  }
}

.PageOne-button {
  // tiny
  @media screen and (max-width: $PageOneSmall) {
  }

  // small
  @media screen and (min-width: $PageOneSmall) and(max-width: ($PageOneMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageOneMedium) and(max-width: ($PageOneBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageOneBig) {
  }
}

@mixin vertCentered {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.PageOne-dialog {
  display: flex;
  flex-direction: row;
  max-width: $PageOneBig;
  height: 3rem;
}

.PageOne-dialog__main {
  @include vertCentered;
  flex-grow: 1;
}

.PageOne-dialog__button {
  @include vertCentered;
  flex-grow: 0;
  flex-shrink: 0;
}
