@import '../css/shared';

$PageThreeSmall: $ResponsiveSizeSmall;
$PageThreeMedium: $ResponsiveSizeMedium;
$PageThreeBig: $ResponsiveSizeBig;

.PageThree {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $PageThreeSmall) {
  }

  // small
  @media screen and (min-width: $PageThreeSmall) and(max-width: ($PageThreeMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageThreeMedium) and(max-width: ($PageThreeBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageThreeBig) {
  }
}

.PageThree-head {
  // tiny
  @media screen and (max-width: $PageThreeSmall) {
  }

  // small
  @media screen and (min-width: $PageThreeSmall) and(max-width: ($PageThreeMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageThreeMedium) and(max-width: ($PageThreeBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageThreeBig) {
  }
}

.PageThree-body {
  // tiny
  @media screen and (max-width: $PageThreeSmall) {
  }

  // small
  @media screen and (min-width: $PageThreeSmall) and(max-width: ($PageThreeMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageThreeMedium) and(max-width: ($PageThreeBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageThreeBig) {
  }
}

.PageThree-button {
  // tiny
  @media screen and (max-width: $PageThreeSmall) {
  }

  // small
  @media screen and (min-width: $PageThreeSmall) and(max-width: ($PageThreeMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PageThreeMedium) and(max-width: ($PageThreeBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PageThreeBig) {
  }
}

@mixin vertCentered {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.PageThree-dialog {
  display: flex;
  flex-direction: row;
  max-width: $PageThreeBig;
  height: 3rem;
}

.PageThree-dialog__main {
  @include vertCentered;
  flex-grow: 1;
}

.PageThree-dialog__button {
  @include vertCentered;
  flex-grow: 0;
  flex-shrink: 0;
}
