@import './../../../components/css/shared';

$PanelOneSmall: $ResponsiveSizeSmall;
$PanelOneMedium: $ResponsiveSizeMedium;
$PanelOneBig: $ResponsiveSizeBig;

.PanelOne {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $PanelOneSmall) {
  }

  // small
  @media screen and (min-width: $PanelOneSmall) and(max-width: ($PanelOneMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelOneMedium) and(max-width: ($PanelOneBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelOneBig) {
  }
}
