@import '../../../node_modules/react-md/src/scss/globals';

/**
  * expose a set of global responsive brackets.
  * If you don't want to use react-md, set these to your preferred cutoffs.
 */

$ResponsiveSizeSmall: $md-mobile-min-width;
$ResponsiveSizeMedium: $md-tablet-min-width;
$ResponsiveSizeBig: $md-desktop-min-width;
$ResponsiveSizeHuge: $md-desktop-min-width * 1.3;

@mixin mainPagePadding() {

  // tiny
  @media screen and (max-width: $ResponsiveSizeSmall) and #{$md-portrait-media} {
    padding: 0.5rem 1rem;
  }
  @media screen and (max-width: $ResponsiveSizeSmall) and #{$md-landscape-media} {
    padding: 1rem 0.5rem;
  }

  // small
  @media screen and (min-width: $ResponsiveSizeSmall) and(max-width: ($ResponsiveSizeBig - 1px)) and #{$md-portrait-media} {
    padding: 1rem 2rem;
  }
  @media screen and (min-width: $ResponsiveSizeSmall) and(max-width: ($ResponsiveSizeBig - 1px)) and #{$md-landscape-media} {
    padding: 1.5rem 1.5rem;
  }

  // regular
  @media screen and (min-width: $ResponsiveSizeBig) and(max-width: ($ResponsiveSizeHuge - 1px)) and #{$md-portrait-media} {
    padding: 1.5rem 3rem;
  }
  @media screen and (min-width: $ResponsiveSizeBig) and(max-width: ($ResponsiveSizeHuge - 1px)) and #{$md-landscape-media} {
    padding: 2rem 2rem;
  }

  // biggest - ignoring ratio, they can size their window down if they want.
  @media screen and (min-width: $ResponsiveSizeHuge) {
    padding: 2rem 4rem;
  }
}

.buttons-bar {
  max-width: $ResponsiveSizeBig;
  display: flex;
  flex-direction: row;
  justify-content: center;
  &.buttons-bar--small {
    .buttons-bar__cell {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 0.25rem;
      padding-right: 0.125rem;
      padding-left: 0.125rem;
      padding-bottom: 0.25rem;
      // tiny
      @media screen and (max-width: $ResponsiveSizeSmall)  {
        padding-top: 0.125rem;
        padding-right: 0.125rem;
        padding-left: 0.125rem;
        padding-bottom: 0.125rem;
      }

      // small
      @media screen and (min-width: $ResponsiveSizeSmall) and(max-width: ($ResponsiveSizeBig - 1px)) {
        padding-top: 0.125rem;
        padding-right: 0.25rem;
        padding-left: 0.25rem;
        padding-bottom: 0.125rem;
      }
    }

  }
}

.buttons-bar__cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  // tiny
  @media screen and (max-width: $ResponsiveSizeSmall)  {
    padding-top: 0.5px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0.5px;
  }

  // small
  @media screen and (min-width: $ResponsiveSizeSmall) and(max-width: ($ResponsiveSizeBig - 1px)) {
    padding: 0.75rem 0.5rem;
  }
}
