@import '../../css/shared';

$WizardSmall: $ResponsiveSizeSmall;
$WizardMedium: $ResponsiveSizeMedium;
$WizardBig: $ResponsiveSizeBig;

.Wizard {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $WizardSmall) {
  }

  // small
  @media screen and (min-width: $WizardSmall) and(max-width: ($WizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $WizardMedium) and(max-width: ($WizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $WizardBig) {
  }
}

.wizard-form {
  max-width: $WizardBig;
  margin-bottom: 2rem;
}

.wizard-form-panel {
  border: 1px solid rgba(0,0,0,0.25);
  padding: 0.5rem 1rem;
  padding-bottom: 1.5rem;
  border-radius: 0.5rem;
  margin:  1rem 0;
  // biggest
  @media screen and (min-width: $WizardBig) {
    padding: 0.75rem 1.5rem;
    padding-bottom:3rem;
  }
}

.wizard-form-panel__title {
  margin: 0;
  padding: 0;
  top: -0.5rem;
  position: relative;
  margin-bottom: 1rem;
  font-size: 1rem;
  // tiny
  @media screen and (max-width: $WizardSmall) {
    margin-bottom: 0.5rem;
  }

  // small
  @media screen and (min-width: $WizardSmall) and(max-width: ($WizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $WizardMedium) and(max-width: ($WizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $WizardBig) {
    margin-bottom: 1.5rem;
  }
}
