@import '../../../css/shared';

$PanelEditorSmall: $ResponsiveSizeSmall;
$PanelEditorMedium: $ResponsiveSizeMedium;
$PanelEditorBig: $ResponsiveSizeBig;

.PanelEditor__inner {
  border: 1px solid rgba(0,0,0,0.25);
  padding-top:0;
  padding-right: 5rem;
  padding-left: 1rem;
  position: relative;
  margin-bottom: 1.25rem;
  // tiny
  @media screen and (max-width: $PanelEditorSmall) {
    padding-top: 0.75rem;
    padding-right: 5rem;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
.PanelEditor {
  padding-bottom: 0.75rem;
}

.PanelEditor-nav-button-up {
  position: absolute !important;
  top: 15px;
  right: 1rem;
}
.PanelEditor-nav-button-down {
  position: absolute !important;
   bottom: 15px;
  right: 1rem;
}
.PanelEditor-fields-list {
  overflow-x: visible !important;
}

.PanelEditor-head {
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: rgb(102,102, 102)
}
