@import '../../../css/shared';

$PanelEditorSmall: $ResponsiveSizeSmall;
$PanelEditorMedium: $ResponsiveSizeMedium;
$PanelEditorBig: $ResponsiveSizeBig;

.PanelEditor {
  // tiny
  @media screen and (max-width: $PanelEditorSmall) {
  }

  // small
  @media screen and (min-width: $PanelEditorSmall) and(max-width: ($PanelEditorMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelEditorMedium) and(max-width: ($PanelEditorBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelEditorBig) {
  }
}

.PanelEditor-head {
  // tiny
  @media screen and (max-width: $PanelEditorSmall) {
  }

  // small
  @media screen and (min-width: $PanelEditorSmall) and(max-width: ($PanelEditorMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelEditorMedium) and(max-width: ($PanelEditorBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelEditorBig) {
  }
}

.PanelEditor-body {
  // tiny
  @media screen and (max-width: $PanelEditorSmall) {
  }

  // small
  @media screen and (min-width: $PanelEditorSmall) and(max-width: ($PanelEditorMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelEditorMedium) and(max-width: ($PanelEditorBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelEditorBig) {
  }
}

.PanelEditor-button {
  // tiny
  @media screen and (max-width: $PanelEditorSmall) {
  }

  // small
  @media screen and (min-width: $PanelEditorSmall) and(max-width: ($PanelEditorMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelEditorMedium) and(max-width: ($PanelEditorBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelEditorBig) {
  }
}
