@import './../../components/css/shared';

$NewWizardSmall: $ResponsiveSizeSmall;
$NewWizardMedium: $ResponsiveSizeMedium;
$NewWizardBig: $ResponsiveSizeBig;

.NewWizard {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $NewWizardSmall) {
  }

  // small
  @media screen and (min-width: $NewWizardSmall) and(max-width: ($NewWizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $NewWizardMedium) and(max-width: ($NewWizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $NewWizardBig) {
  }
}

.NewWizard-head {
  // tiny
  @media screen and (max-width: $NewWizardSmall) {
  }

  // small
  @media screen and (min-width: $NewWizardSmall) and(max-width: ($NewWizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $NewWizardMedium) and(max-width: ($NewWizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $NewWizardBig) {
  }
}

.NewWizard-body {
  // tiny
  @media screen and (max-width: $NewWizardSmall) {
  }

  // small
  @media screen and (min-width: $NewWizardSmall) and(max-width: ($NewWizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $NewWizardMedium) and(max-width: ($NewWizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $NewWizardBig) {
  }
}

.NewWizard-button {
  // tiny
  @media screen and (max-width: $NewWizardSmall) {
  }

  // small
  @media screen and (min-width: $NewWizardSmall) and(max-width: ($NewWizardMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $NewWizardMedium) and(max-width: ($NewWizardBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $NewWizardBig) {
  }
}

@mixin vertCentered {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.NewWizard-dialog {
  display: flex;
  flex-direction: row;
  max-width: $NewWizardBig;
  height: 3rem;
}

.NewWizard-dialog__main {
  @include vertCentered;
  flex-grow: 1;
}

.NewWizard-dialog__button {
  @include vertCentered;
  flex-grow: 0;
  flex-shrink: 0;
}
