@import '../css/shared';

$AdminSmall: $ResponsiveSizeSmall;
$AdminMedium: $ResponsiveSizeMedium;
$AdminBig: $ResponsiveSizeBig;

.Admin {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $AdminSmall) {
  }

  // small
  @media screen and (min-width: $AdminSmall) and(max-width: ($AdminMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $AdminMedium) and(max-width: ($AdminBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $AdminBig) {
  }
}

.AdminPageList {}

.AdminPageList__item {}
