@import '../css/shared';

$AdminSmall: $ResponsiveSizeSmall;
$AdminMedium: $ResponsiveSizeMedium;
$AdminBig: $ResponsiveSizeBig;

.Admin {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $AdminSmall) {
  }

  // small
  @media screen and (min-width: $AdminSmall) and(max-width: ($AdminMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $AdminMedium) and(max-width: ($AdminBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $AdminBig) {
  }
}

.Admin-head {
  // tiny
  @media screen and (max-width: $AdminSmall) {
  }

  // small
  @media screen and (min-width: $AdminSmall) and(max-width: ($AdminMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $AdminMedium) and(max-width: ($AdminBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $AdminBig) {
  }
}

.Admin-body {
  // tiny
  @media screen and (max-width: $AdminSmall) {
  }

  // small
  @media screen and (min-width: $AdminSmall) and(max-width: ($AdminMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $AdminMedium) and(max-width: ($AdminBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $AdminBig) {
  }
}

.Admin-button {
  // tiny
  @media screen and (max-width: $AdminSmall) {
  }

  // small
  @media screen and (min-width: $AdminSmall) and(max-width: ($AdminMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $AdminMedium) and(max-width: ($AdminBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $AdminBig) {
  }
}

@mixin vertCentered {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.Admin-dialog {
  display: flex;
  flex-direction: row;
  max-width: $AdminBig;
  height: 3rem;
}

.Admin-dialog__main {
  @include vertCentered;
  flex-grow: 1;
}

.Admin-dialog__button {
  @include vertCentered;
  flex-grow: 0;
  flex-shrink: 0;
}
