@import './../../../components/css/shared';

$PanelTwoSmall: $ResponsiveSizeSmall;
$PanelTwoMedium: $ResponsiveSizeMedium;
$PanelTwoBig: $ResponsiveSizeBig;

.PanelTwo {
  // should only be for primary pages (ones the route in content drives to); remove for sub-components
  @include mainPagePadding();

  // tiny
  @media screen and (max-width: $PanelTwoSmall) {
  }

  // small
  @media screen and (min-width: $PanelTwoSmall) and(max-width: ($PanelTwoMedium - 1px)) {
  }

  // regular
  @media screen and (min-width: $PanelTwoMedium) and(max-width: ($PanelTwoBig - 1px)) {
  }

  // biggest
  @media screen and (min-width: $PanelTwoBig) {
  }
}

