/*
Error: File to import not found or unreadable: ../../css/shared.
        on line 1 of PanelTwo.module.scss

1: @import '../../css/shared';
2: 
3: $PanelTwoSmall: $ResponsiveSizeSmall;
4: $PanelTwoMedium: $ResponsiveSizeMedium;
5: $PanelTwoBig: $ResponsiveSizeBig;
6: 

Backtrace:
PanelTwo.module.scss:1
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/import_node.rb:45:in `import'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:310:in `visit_import'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/stack.rb:79:in `block in with_base'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/stack.rb:135:in `with_frame'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/stack.rb:79:in `with_base'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `each'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/exec/base.rb:50:in `parse'
/Users/davidedelhart/.gem/gems/sass-3.6.0/lib/sass/exec/base.rb:18:in `parse!'
/Users/davidedelhart/.gem/gems/sass-3.6.0/bin/scss:13:in `<top (required)>'
/Users/davidedelhart/.gem/bin/scss:22:in `load'
/Users/davidedelhart/.gem/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../../css/shared.\A         on line 1 of PanelTwo.module.scss\A \A 1: @import '../../css/shared';\A 2: \A 3: $PanelTwoSmall: $ResponsiveSizeSmall;\A 4: $PanelTwoMedium: $ResponsiveSizeMedium;\A 5: $PanelTwoBig: $ResponsiveSizeBig;\A 6: "; }
