@import './../node_modules/normalize.css/normalize.css';
@import './../node_modules/react-md/src/scss/react-md';

$md-primary-color: $md-indigo-500;
$md-secondary-color: $md-lime-a-400;

$md-font-size-base: 20;

$md-list-primary-font-size: 20;
$md-list-secondary-font-size: 16;
$md-list-desktop-height: 4rem;
$md-list-mobile-height: 3rem;

$md-body-desktop-font-size: 20px;
$md-body-mobile-font-size: 18px;

$md-btn-desktop-font-size: 18px;
$md-btn-mobile-font-size: 16px;
$md-btn-desktop-height: 40px;
$md-btn-mobile-height: 36px;

$md-line-height: 125% !default;
$md-body-1-line-height: 125%;
$md-body-2-line-height: 125%;

@include react-md-everything;

html, body, #root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
