@import './../node_modules/normalize.css/normalize.css';
@import './../node_modules/react-md/src/scss/react-md';

$md-primary-color: $md-indigo-500;
$md-secondary-color: $md-orange-700;

$md-font-size-base: 20;
$mobile-scale: 0.8;
$md-list-primary-font-size: $md-font-size-base;
$md-list-secondary-font-size: $md-font-size-base * $mobile-scale;
$md-list-desktop-height: 4rem;
$md-list-mobile-height: 3rem;

$md-body-desktop-font-size: $md-font-size-base + 0px;
$md-body-mobile-font-size: $md-font-size-base * $mobile-scale + 0px;

$md-btn-desktop-font-size: $md-font-size-base * 0.9 + 0px;
$md-btn-mobile-font-size: $md-font-size-base * $mobile-scale * 0.9 + 0px;
//$md-btn-desktop-height: $md-font-size-base * 0.7 * 2 + 0px;
//$md-btn-mobile-height: $md-font-size-base * 0.7 * 2 * $mobile-scale + 0px;

$md-text-field-desktop-font-size: $md-font-size-base + 0px;
$md-text-field-mobile-font-size: $md-font-size-base * $mobile-scale + 0px;

$md-line-height: 1.5;
$md-body-1-line-height: 125%;
$md-body-2-line-height: 125%;
$md-font-icon-include-dense: false;

$md-data-table-header-font-size: $md-font-size-base * 0.8 + 0px;

@include react-md-everything;

html, body, #root {
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.md-list--menu .md-list-tile {
  height: 3rem;
  @media screen and (max-width:  $md-mobile-min-width) {
    height: 2rem;
  }

  // small
  @media screen and (min-width:  $md-mobile-min-width) and(max-width: ($md-tablet-min-width - 1px)) {
    height: 1.5rem;
  }
}

